@model DAL.DTOs.Admin.TipoMediosDTO
@{
    ViewData["Title"] = "Tipo Medio";
    ViewData["BackArrow"] = "/Home/Index";
}

<box color="Info">
    <box-header title="Listado">
        <div class="input-group input-group-sm pull-right" style="max-width: 300px;">
            <a title="Crear Nuevo Tipo Medio" onclick="CrearTipoMedio()" class="btn btn-info btn-sm">
                <i class="fa fa-plus"><span class="hidden-xs"> Nuevo Tipo Medio</span></i>
            </a>
        </div>
    </box-header>
    <box-body>
        <table class="table table-hover table-bordered table-responsive" id="TipoMediosDataTable" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Codigo</th>
                </tr>
            </thead>
        </table>
    </box-body>
</box>

<modal title="Nuevo Tipo Medios" callback-modal="true" function="CrearTipoMedio" load-url="/Admin/TipoMedios/_Create/" size="Medium"></modal>
<modal title="Editar Tipo Medios" callback-modal="true" function="actualizarDatos" load-url="/Admin/TipoMedios/_Update/" size="Medium"></modal>


<script type="text/javascript">

    $(function () {
        var versionTable = $('#TipoMediosDataTable').DataTable({
            serverSide: true,
            processing: true,            
            ajax: {
                url: '@Url.Action("_TipoMediosDataTable")',
                type: "POST",
            },
            order: [[0, "desc"]],
            columns: [                
                { data: "Nombre", title: "Nombre" },
                { data: "Descripcion", title: "Descripción" },
                { data: "Codigo", title: "Codigo" },
                {
                    title: "Acciones",
                    sortable: false,
                    render: function (data, type, row) {
                        var action = '';
                        action += `<a onclick="actualizarDatos('${row['Id']}')" title="Modificar Tipo Medio" class="btn btn-info btn-xs"><i class="fa fa-edit"></i></a>`;
                        return action;
                    }
                },
            ],
        });
    });

</script>
