@using Commons.HtmlHelpers
@model DAL.DTOs.SecrEstrategiaAsuntosMilitares.AccionesDTO

<form asp-action="_Update">

    @using (Html.BoxBody())
    {
        <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>     
            <div class="form-group ">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="Porcentaje" class="control-label"></label>
                <input asp-for="Porcentaje" class="form-control" />
                <span asp-validation-for="Porcentaje" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProridadId" class="control-label"></label>
                <select asp-items="@ViewBag.Prioridades" asp-for="ProridadId" class="form-control" searchable="true"></select>
                <span asp-validation-for="ProridadId" class="text-danger"></span>
            </div>

    }
    @using (Html.BoxFooter())
    {
        <div class="col-md-12" style="display: flex; justify-content: right;align-items: center;">
            <div class="form-group ">
                <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                <input type="submit" value="Guardar" class="btn btn-primary pull-right" />
            </div>
        </div>
    }

</form>

<script>
    $(document).ready(function () {
        const selectedValue = $('#Discriminador').val();
        $('.divOcultoTipoIndicador').hide();
        $('#' + selectedValue).show();
    });


    $('#Discriminador').change(function () {
        const selectedValue = $(this).val();
        $('.divOcultoTipoIndicador').hide();
        $('#' + selectedValue).show();
    });
</script>