@{
    ViewData["Title"] = "Indicadores";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora&display=swap">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<style>

    .info-box{
        background: #ffffff;
    }
</style>
<div class="content">
    <div class="row">
        <div class="col-md-2">

            <div class="info-box">
                <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Ejecucion Presupuestaria</span>
                   
                </div>
            </div>

        </div>

        <div class="col-md-2">

            <div class="info-box ">
                <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Ahorros</span>
                  
                </div>
            </div>

        </div>

        <div class="col-md-2">

            <div class="info-box ">
                <span class="info-box-icon"><i class="ion ion-ios-book"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Marco Normativo</span>
                 
                </div>
            </div>

        </div>

        <div class="col-md-2">

            <div class="info-box">
                <span class="info-box-icon"><i class="ion ion-ios-book-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Proyectos Prioritarios</span>
                    
                </div>
            </div>

        </div>

        <div class="col-md-2">

            <div class="info-box">
                <span class="info-box-icon"><i class="ion ion-ios-analytics-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Comunicación</span>
                    
                </div>
            </div>

        </div>
    </div>
</div>


    <script>
        $(function () {



            var div2Height = $('#div1').height();
            $('#div2').css('height', div2Height + 'px');

       
        
    </script>

