
@{
    ViewData["Title"] = "EMCO";
}
<div class="content">
    <div class="row">
        <div class="col-md-4"></div> <!-- Columna vacía para centrar el contenido -->
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center" style="min-height: 100px;">
            <!-- Contenedor Flex que centra vertical y horizontalmente su contenido -->
            <img style="width: 50%; border-radius: 50%;border:none" class="profile-user-img img-responsive img-circle" src="~/images/FuerzaOperativa/EMCO/EMCO.png" alt="imagen del proyecto" class="mb-2">
            <!-- Ajusta el tamaño de la imagen y aplica un margen inferior -->
            <h1 class="text-center"><b>Estado Mayor Conjunto de las Fuerzas Armadas</b></h1>
            <!-- Título centrado gracias a las propiedades del contenedor padre -->
        </div>
        <div class="col-md-4"></div> <!-- Columna vacía para centrar el contenido -->
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">

        </div>
    </div>
</div>
