
<style>
    .porcentajeStyle {
        position: absolute;
        right: 1em;
        font-size: 1.3rem;
    }

    .mr6 {
        margin-right: 6rem
    }
</style>
<div class="content" style="width:70%">
    <div class="row">
        <div class="row" style="text-align-last: center;" id="ContainerDetails">
            <div class="col-md-12">
                <div class="box box-primary" style="border-top-width: 6px;">
                    <div class="box-body no-padding">
                        <div class="col-md-12 col-sm-6 col-xs-12" style="text-align-last: left; padding: 0px;">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    @* <h3 class="box-title">Progress Bars Different Sizes</h3>*@
                                </div>
                                <div class="box-body">

                                    <h4>F-16</h4>
                                    <div class="progress active mr6">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="10" aria-valuemax="100" style="margin: 0 !important; width: 40%; background-color: #2471A3">

                                            <span class="badge porcentajeStyle" style=" background-color: #2471A3">40%</span>
                                        </div>
                                    </div>
                                    <h4>P3 ORIÓN</h4>
                                    <div class="progress active mr6">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="10" aria-valuemax="100" style="margin: 0 !important; width: 20%; background-color: #148F77">
                                            <span class="badge porcentajeStyle" style=" background-color: #148F77">20%</span>
                                        </div>
                                    </div>
                                    <h4>Munición 155mm</h4>
                                    <div class="progress active mr6">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="10" aria-valuemax="100" style="margin: 0 !important; width: 60%; background-color: #D4AC0D">
                                            <span class="badge porcentajeStyle" style=" background-color: #D4AC0D">60%</span>
                                        </div>
                                    </div>
                                    <h4>TAM 2C</h4>
                                    <div class="progress active mr6">
                                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="10" aria-valuemax="100" style="margin: 0 !important; width: 80%; background-color: #B03A2E">
                                            <span class="badge porcentajeStyle" style=" background-color: #B03A2E">80%</span>
                                        </div>
                                    </div>
                                    <h4>Campaña Antártica</h4>
                                    <div class="progress active mr6">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="10" aria-valuemax="100" style="margin: 0 !important; width: 60%; background-color: #884EA0">
                                            <span class="badge porcentajeStyle" style=" background-color: #884EA0">60%</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



