<box color="Info">
    <box-header title="Listado de la Operación - @ViewBag.OperacionNombre">
        <div class="input-group input-group-sm pull-right" style="max-width: 300px;">
            <a title="Crear Nuevo Medio" onclick="CrearMedio('@ViewBag.OperacionId')" class="btn btn-info btn-sm">
                <i class="fa fa-plus"><span class="hidden-xs"> Nuevo Medio</span></i>
            </a>
        </div>
    </box-header>
    <box-body>
        <table class="table table-hover table-bordered table-responsive" id="MedioDataTable" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Fuerza</th>
                    <th>Tipo</th>
                    <th>Finalidad</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
        </table>
    </box-body>
</box>

<modal title="Nuevo Medios" callback-modal="true" function="CrearMedio" load-url="/Admin/Medios/_Create/" size="Medium"></modal>
<modal title="Editar Medios" callback-modal="true" function="actualizarDatosMedios" load-url="/Admin/Medios/_Update/" size="Medium"></modal>


<script type="text/javascript">

    $(function () {
        var versionTable = $('#MedioDataTable').DataTable({
            serverSide: true,
            processing: true,            
            ajax: {
                url: '/Admin/Medios/_MediosDataTable/' + @Html.Raw(ViewBag.OperacionId),
                type: "POST",
            },
            order: [[0, "desc"]],
            columns: [                
                { data: "Nombre", title: "Nombre" },
                { data: "FuerzaNombre", title: "Fuerza" },
                { data: "TipoNombre", title: "Tipo" },
                { data: "Finalidad", title: "Finalidad" },
                { data: "Cantidad", title: "Cantidad" },
                {
                    title: "Acciones",
                    sortable: false,
                    render: function (data, type, row) {
                        var action = '';
                        action += `<a onclick="actualizarDatosMedios('${row['Id']}')" data-tipo="1" title="Modificar datos Indicar" class="btn btn-info btn-xs"><i class="fa fa-edit"></i></a>&nbsp;`;

                        action += `<a title="Borrar Medio" data-id="${row['Id']}" data-tipo="2" class="btn btn-danger btn-xs btn-delete-medio"> <i class="fa fa-trash"></i> </a>`;
                        return action;
                    }
                },
            ],
        });
    });



    $('body').on('click', '.btn-delete-medio', function () {
        let data = $(this).data("id");
        let dataTipo = $(this).data("tipo");
        Swal.fire({
            showConfirmButton: true,
            text: '¿Desea Eliminar el Medio?',
            confirmButtonText: 'SI',
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            icon: 'question',
            iconColor: 'LightSkyBlue',
            showCancelButton: true,
            cancelButtonText: 'No',
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    type: 'POST',
                    url: '/Admin/Medios/Delete/' + data,
                    success: function (data) {
                        Swal.fire({
                            title: 'Correcto!',
                            text: 'Se elimino correctamente el Medio',
                            icon: 'success',
                            showConfirmButton: true,
                        }).then(function (result) {
                            var url = "/Admin/Operaciones/Index?MedioId=" + @Html.Raw(ViewBag.OperacionId)                           
                            window.location.href = url;
                        });
                    },
                    error: function (XHR) {
                        if (XHR.status === 500) {
                            Swal.fire({
                                text: "Error 500",
                                icon: 'error',
                                showConfirmButton: true,
                            });
                        } else {
                            Swal.fire({
                                text: "Error " + XHR.status,
                                icon: 'error',
                                showConfirmButton: true,
                            });
                        }
                    }
                })
            }
        });
    });

</script>
